.cardWrapper {
  padding: 10px;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cardContainer {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  border-radius: 8px;
  display: block;
  height: calc(100% - 10px); /* Removing border height */
  width: calc(100% - 10px); /* Removing border width */
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 5px solid #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card .front {
  background: #1565c0;
  /*background: #212121;*/
}

.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #1565c0;
  /*background-color: #212121;*/
  color: #FFF;
}

.cardNumber {
  margin: 0px;
  font-family: Arial, sans-serif;
}

.cardWrapper .close {
  width: 100%;
  overflow: auto;
}

.cardWrapper .close button {
  background-color: #EF5350;
  border-radius: 50%;
  color: #FFF;
  width: 25px;
  height: 25px;
  border: 0px;
  line-height: 25px;
  margin-top: -30px;
  position: absolute;
  right: -10px;
  z-index: 1;
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardWrapper .close button.hidden {
  opacity: 0;
  visibility: hidden;
  top: 35px;
  -webkit-transition: all ease-in;
  transition: all ease-in;
}

.cardWrapper .close button.visible {
  top: 20px;
  -webkit-transition: all ease-out;
  transition: all ease-out;
}

.wrapperSm {
  min-width: calc( 100% - 15px );
}

.wrapperMd {
  min-width: calc( 100% - 15px );
}

.cardSm {
  height: 90px;
}

.cardSm .cardNumber {
  font-size: 30px;
  line-height: 85px;
}

.cardMd {
  height: 110px;
}

.cardMd .cardNumber {
  font-size: 40px;
  line-height: 100px;
}


.wrapperLg {
  padding: 30px 40px;
  max-width: 315px;
  margin: 0 auto;
}

.wrapperLg .card {
  height: 400px;
}

.wrapperLg .cardNumber {
  font-size: 125px;
  line-height: 375px;
}

.wrapperLg .card .front, .wrapperLg .card .back {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  border: 15px solid #FFF
}