.gridDeckContainerThree {
  display: grid;
  grid-template-columns: auto auto auto;
}

.gridDeckContainerFour {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.deckActions {
  padding: 20px;
  text-align: center;
}
