.decks {

}


.decks ul {
  margin-top: 20px;
  list-style: none;
}

.decks li {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 30px;
  color: #212121;
  padding: 15px 20px;
  border-bottom: 1px solid #EEEEEE;
}

.addDeck {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px 0;
}

.addDeck input {
  border: 1px solid #CCC;
  width: 100%;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.addDeck .addButton {
  padding: 10px;
  border: 1px solid #CCC;
  border-left: 0px;
  font-family: Arial, sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  background-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.resetButtonWrapper {
  text-align: center;
  padding-bottom: 20px;
}

.resetButton {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #E57373;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}