.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  /*background-color: #333333;*/
  border-bottom: 1px solid #E0E0E0;
  /*border-bottom: 1px solid #212121;*/
}

.navbar .wrapper {
  margin: 0 auto;
  max-width: 575.98px;
}

.navbar .icon {
  font-size: 23px;
  margin-top: 7px;
}

.navbar img.icon {
  height: 30px;
}

/* Tech theme */
.navbar.tech-theme .icon {
  color: #212121;
}
.navbar.tech-theme {
  background-color: #FFF;
}
.navbar.tech-theme .active {
  border-bottom: 2px solid #1565c0;
}

/* Dark theme */
.navbar.dark-theme .icon {
  color: #E0E0E0;
}
.navbar.dark-theme {
  background-color: #212121;
}
.navbar.dark-theme .active {
  border-bottom: 2px solid #E0E0E0;
}

/* Eletric theme */
.navbar.eletric-theme .icon {
  color: #212121;
}
.navbar.eletric-theme {
  background-color: #FFF;
}
.navbar.eletric-theme .active {
  border-bottom: 2px solid #311B92;
}