.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  height: 50px;
}

.navbar .wrapper {
  margin: 0 auto;
  max-width: 575.98px;
}

.navbar .icon {
  font-size: 23px;
  margin-top: 5px;
}

.navbar img.icon {
  height: 29px;
}

.navbar .faIconWrapper {
  margin-bottom: -2px;
}

/* Tech theme */
.navbar.tech-theme .icon {
  color: var(--dark-text);
}
.navbar.tech-theme {
  background-color: var(--light-background);
}
.navbar.tech-theme .active {
  border-bottom: 2px solid var(--main-tech-theme-color);
}

/* Dark theme */
.navbar.dark-theme .icon {
  color: var(--light-text);
}
.navbar.dark-theme {
  background-color: var(--dark-background);
}
.navbar.dark-theme .active {
  border-bottom: 2px solid var(--light-text);
}

/* Eletric theme */
.navbar.eletric-theme .icon {
  color: var(--dark-text);
}
.navbar.eletric-theme {
  background-color: var(--light-background);
}
.navbar.eletric-theme .active {
  border-bottom: 2px solid var(--main-eletric-theme-color);
}