.buttonLinkWrapper {
  text-align: center;
  padding-bottom: 20px;
}

.buttonLinkWrapper button {
  border: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}


/* Tech theme */

.buttonLinkWrapper.tech-theme .danger {
  color: var(--danger-tech-theme-color); 
}

.buttonLinkWrapper.tech-theme .default {
  color: var(--dark-text);
}

/* Dark theme */

.buttonLinkWrapper.dark-theme .danger {
  color: var(--danger-dark-theme-color); 
}

.buttonLinkWrapper.dark-theme .default {
  color: var(--light-text);
}

/* Eletric theme */

.buttonLinkWrapper.eletric-theme .danger {
  color: var(--danger-eletric-theme-color); 
}

.buttonLinkWrapper.eletric-theme .default {
  color: var(--dark-text);
}