.buttonLinkWrapper {
  text-align: center;
  padding-bottom: 20px;
}

.buttonLinkWrapper button {
  border: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}


/* Tech */

.buttonLinkWrapper.tech-theme .danger {
  color: #E57373;
}

.buttonLinkWrapper.tech-theme .default {
  color: #616161;
}

/* Dark */

.buttonLinkWrapper.dark-theme .danger {
  color: #EF9A9A;
}

.buttonLinkWrapper.dark-theme .default {
  color: #F5F5F5;
}

/* Eletric */

.buttonLinkWrapper.eletric-theme .danger {
  color: #F06292;
}

.buttonLinkWrapper.eletric-theme .default {
  color: #9C27B0;
}