* {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div {
  
}
.app {
  padding: 10px;
  max-width: 575.98px;
  margin: 0 auto;
  min-height: calc( 100vh - 20px ); /* Removing padding */
}

.gridDeckContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}