.appWrapper {
  min-height: 100vh;
}

.appWrapper.tech-theme {
  background-color: var(--light-background);
}

.appWrapper.dark-theme {
  background-color: var(--dark-background);
}

.appWrapper.eletric-theme {
  background-color: var(--light-background);
}

.app {
  padding: 70px 10px 10px 10px;
  max-width: 575.98px;
  margin: 0 auto;
}
